:root{
  font-family: 'Nunito', sans-serif;
  --star-size: 25px;
  --star-color: rgb(228, 228, 228);
  --star-background: #fc0;
}

body{
  margin: 0 auto;
}

.container{

  margin: 0 auto;
}

#nav-bar{
  display: grid;
  grid-template-columns: 50% 50%;
}

#hero-image{
  background-image: url('../imgs/hero.jpg');
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center center;
  height: 600px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 1px 1px rgb(42, 42, 42);
}


#hero-image h1{
  font-size: 3.5rem;
  width: 500px;
  margin-left: 100px;

}

#hero-image h2{
  width: 500px;
  margin-left: 100px;

}

#check-it-button{
  margin-top: 10px;
  margin-left: 100px;
  background-color: rgb(225, 43, 70);
  color: #fff;
  opacity: 1;
  padding: 12px;

}


ul{
  list-style: none;
 
}

a{
  text-decoration: none;

}

a:visited{
  color: #fff;
}

.nav-links{
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  column-gap: 20px;
  grid-column: 1/2;
  color: #fff;

}

.cart-links{
  justify-self: end;
  margin-right: 40px;
  position: relative;
}
#shopping-cart-icon{
  stroke: #fff;
  width: 27px;
  filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .7));
}

#shopping-cart-indicator{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: rgb(225, 43, 70);
  position: absolute;
  text-align: center;
  font-size: 0.6rem;
  line-height: 18px;
  left: 40px;
  top: 15px;
}


.teaser-images{
  margin: 60px 450px;
  display: flex;
  justify-content: space-around;
  position: relative;

}

.teaser-image{
  width: 450px;
  height: 300px;
  margin: 0px 30px;
  border-radius: 3px;
}

button{
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  background-color: aliceblue;
  min-width: 125px;
  opacity: 0.8
}
#shop-now-button{
  position: absolute;
  margin-top: 125px;

}

#sale-button{
  position: absolute;
  margin-right: 1000px;
  margin-top: 125px;
}

#featured-button{
  position: absolute;
  margin-right: -1000px;
  margin-top: 125px;
}
#shop-products{
  position: relative;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fill, 340px);
  margin-left: auto;
  margin-top: 100px;
  gap: 10px;
}
.product-card{
  width: 300px;
  height: 300px;
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

}



.product-card img{
  width: 175px;
  height: 175px;
}

.card-product-title{
  font-size: 1rem;
  font-weight: 700;
  margin-top: 20px;

}

.card-product-info{

 width: 300px;
 margin-top: 10px;
 padding-bottom: 10px;



}

.card-product-info p{
  font-weight: 600;
  line-height: 1.1rem;
  font-size: 1.1rem;
  margin: 0;
  float: left;

}

.card-product-rating{
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  line-height: 0.9rem;
  --rating: 2.3;
  float: right;
}
.card-product-rating::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.card-product-rating span{
  float: right;
  font-size: 0.9rem;
  font-weight: 600;
  
}




.product-card-overlay{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #000;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0,0,0,0);
  transition: ease-in 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-overlay:hover{
  background-color: rgba(0,0,0,0.5);
  transition: ease-in 0.3s;
}



.product-card-overlay:hover .buy-button{
  visibility: visible;
}


.buy-button{
  background-color: rgba(225, 43, 70, 1);
  position: absolute;
  margin-top: 125px;
  top: 0;
  visibility: hidden;
  opacity: 1;
  color: #fff;
}

.buy-button:active{
  transform: scale(0.95);
}